.filter-arrea {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.filter-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotel-category {
    width: 100%;
}

.hotel-category .checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accommodation {
    width: 100%;
}

.accommodation .checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



