.result-page {
    display: flex;
    flex-direction: column;
}

.result-page .arrea-item {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}

.result-page .content-item {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}

.result-page .left-comercial-arrea {
    width: 10%;
}

.result-page .filter-arrea {
    width: 20%;
}

.result-page .content-arrea {
    width: 50%;
}

.result-page .right-comercial-arrea {
    width: 10%;
}



