.tour-list-item{
    display: flex;
    margin: 5px;
    padding: 5px;
    background: blue;

}

.item-arrea{
    margin: 5px;
    padding: 5px;
    background: yellow;
    width: 48%;
}

.item-arrea-content{
    display: flex;
    flex-direction: column;
}

.tour-list-item .image-container img{
    width: 100%;
    height: 100%;    
}

.tour-list-item .description{
    display: flex;
    flex-direction: row;
    border-style: double;
    margin: 1px;
}

.tour-list-item .description .descriptionText {
    font-weight: bold;
    font-style: italic;
    /* color: darkred; */
    color: rebeccapurple;
    text-decoration: underline;
}

.tour-list-item .details{
    margin: 5px;
    padding: 5px;
}

.tour-list-item .details div{
    margin: 1px;
    padding: 2px;
}

.tour-list-item .details.right{
    margin: 5px;
    padding: 5px;
    justify-content: end;
}

.tour-list-item .details.right div{
    text-align: right;
}

.description{
    justify-content: space-between;
}



